input.form-control {
    border-radius: 3px !important;
}

textarea.form-control {
    border-radius: 3px !important;
}

select.form-control {
    border-radius: 3px !important;
}

button.btn {
    border-radius: 3px !important;
}

a.btn {
    border-radius: 3px !important;
}

